<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/srdb.css" />
<title>%%title%%</title>
</head>

<body id="grad3">
<form id="form1" name="form1" method="post" action="">
<table  id="fullheiht" width="95%" align="center" border="1" cellspacing="0" cellpadding="5" bordercolor="#DDDDDD">
	<tr>
		<td align="center" valign="middle">
		<table width="95%" border="0" cellspacing="1" cellpadding="2">
			<tr>
				<td><span class="title1"><span class="title1_not_bold">
				Segment Repair Database - Figure</span></span></td>
				<td align="right">&nbsp;</td>
				<td align="right" class="title1_not_bold">&nbsp;</td>
			</tr>
			<tr>
				<td align="left" class="modeind"><span class="title1">%%caption%%</span></td>
				<td align="right">&nbsp;</td>
				<td align="right">&nbsp;</td>
			</tr>
		</table></td>
	</tr>
	<tr>
		<td align="center">
			<table width="95%" border="0" cellspacing="1" cellpadding="2">
			<tr><td align="center"><br /><img src="%%image%%" /><br /><br /></td></tr></table>
			</td>
	</tr>
</table>
</form>
</body>
</html>