<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="../script/util.js"></script>
<script src="../script/angular.js"></script>
<script src="../script/angular-cookies.js"></script>
<script src="../script/radialPostCentController.js"></script>

<link rel="stylesheet" type="text/css" href="../css/srdb.css" />
<title>Radial Post Centration</title>
</head>

<body ng-app="srdbRadialPostCentApp">
<form id="form1" name="form1" method="post" action="">
<table width="95%" align="center" border="1" cellspacing="0" cellpadding="5" bordercolor="#DDDDDD" 
		ng-controller="RadialPostCentCtrl" ng-init="init('%%proc%%', '%%ver%%', '%%sec%%', '%%step%%')">
	<tr>
		<td align="center"><table width="95%" border="0" cellspacing="2" cellpadding="2">
			<tr>
				<td nowrap="nowrap">
					<table border="0" cellspacing="2" cellpadding="2">
					<tr>
						<td nowrap="nowrap" colspan="2">
							<span class="title1_not_bold"> 
							<a href="../index.html"> Segment Repair Database</a></span>
						</td>
					</tr>
					<tr>
						<td nowrap="nowrap"><span class="title1">Radial Post Centration</span></td>
						<td valign="middle" nowrap="nowrap" class="title2">&nbsp;</td>
					</tr>
					</table>
				</td>
				<td nowrap="nowrap" align="right"><table border="0" cellspacing="2" cellpadding="2">
					<tr>
						<td align="right" nowrap="nowrap">
							<span class="title1_not_bold">Segment</span>
							<span class="title1_italic">{{config.seg}}</span></td>
						</tr>
					<tr>
						<td align="right" nowrap="nowrap" class="title1_not_bold">Procedure <span class="title1">%%proc%%</span>, Section <span class="title1">%%sec%%</span>, Step <span class="title1">%%step%%</span></td>
						</tr>
				</table></td>
			</tr>
		</table></td>
	</tr>

	<tr>
		<td align="center">
			<table border="1" cellspacing="0" cellpadding="5" bordercolor="#DDDDDD">
				<tr valign="bottom">
					<td align="center" bgcolor="#B8CCE4" class="table_heading"><span class="figure_caption">Measurement <br />
						Location</span></td>
					<td align="center" nowrap="nowrap" bgcolor="#B8CCE4" class="figure_caption">Gap from Radial Post<br />
						to Radial Hole<br />
						(dial indicator)</td>
					<td align="center" nowrap="nowrap" bgcolor="#B8CCE4" class="figure_caption">Calc. Absolute Value of Gap<br />
						Difference<br />
						Loc. #1 to Loc. #2<br />
						Loc. #2 to Loc. #3<br />
						Loc. #1 to Loc. #3<br />
						(Rqt: 0.004 maximum)</td>
					<td align="center" nowrap="nowrap" bgcolor="#B8CCE4" class="figure_caption">&nbsp;</td>
				</tr>
				<tr ng-repeat="loc in [1, 2, 3]">
					<td style="white-space:pre;" bgcolor="#B8CCE4" class="figure_caption">{{locData[loc].label}}</td>
					
					<!-- gap -->
					<td align="center"  ng-hide="inedit[loc]" ng-click="edit(loc)">
						{{locData[loc].gap | number : 4}}</td>
					<td align="center" ng-show="inedit[loc]">
						<input size="8" ng-maxlength="8" ng-model="locData[loc].gap" ng-change="calcDiffs()"/></td>
					
					<!-- diff -->
					<td align="center">{{locData[loc].diff | number : 4}}</td>
					
					<!-- buttons -->
					<td ng-hide="inedit[loc]">
						<button ng-click="edit(loc)">Edit</button></td>
					<td ng-show="inedit[loc]">
						<button ng-click="cancel(loc)">Cancel</button>
						<button ng-click="save(loc)">Save</button></td>

				</tr>

			</table>
			<p>&nbsp;</p>
			<p>{{locationData[0].meas_A}}</p>
				</td></tr>
			</table><br />
			
			
			
</form>
</body>
</html>