
<!-- 3-part section sign-off template -->

<table width="95%" border="0" align="center" cellpadding="1" cellspacing="2" bgcolor="#EEEEEE">
	<tr>
		<td><table border="0" align="center" cellpadding="2" cellspacing="1">
			<tr>
				<td colspan="5" align="center" class="seq_title"><span class="signoff_text">Sign-off on %%proc_num%% Section %%sec_num%%  for Segment 0-00</span></td>
			</tr>
			<tr>
				<td><table border="0" cellspacing="1" cellpadding="2">
					<tr>
						<td>A</td>
						<td><select name="who_a5" id="who_a5">
							<option selected="selected">-</option>
							<option>Atticus</option>
							<option>Declan</option>
							<option>Gino</option>
							<option>Reggie</option>
						</select></td>
						<td><input type="submit" name="button" id="button" value="Sign-off" /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2" class="signoff_text">not signed-off yet</td>
					</tr>
				</table></td>
				<td width="20">&nbsp;</td>
				<td><table border="0" cellspacing="1" cellpadding="2">
					<tr>
						<td>B</td>
						<td><select name="who_a4" id="who_a4">
							<option selected="selected">-</option>
							<option>Atticus</option>
							<option>Declan</option>
							<option>Gino</option>
							<option>Reggie</option>
						</select></td>
						<td><input type="submit" name="button2" id="button2" value="Sign-off" /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2" class="signoff_text">not signed-off yet</td>
					</tr>
				</table></td>
				<td width="20">&nbsp;</td>
				<td><table border="0" cellspacing="1" cellpadding="2">
					<tr>
						<td>C</td>
						<td><select name="who_a" id="who_a">
							<option selected="selected">-</option>
							<option>Atticus</option>
							<option>Declan</option>
							<option>Gino</option>
							<option>Reggie</option>
						</select></td>
						<td><input type="submit" name="button3" id="button3" value="Sign-off" /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2" class="signoff_text">not signed-off yet</td>
					</tr>
				</table></td>
			</tr>
		</table></td>
	</tr>
</table>
<!-- end 3-part section sign-off template -->
