<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/srdb.css" />
<title>%%top%%</title>
</head>

<body id="grad3">
<table width="600" border="0" align="center" cellpadding="2" cellspacing="1">
  <tr>
    <td><p class="title1">%%top%%</p>
    	<p>%%table%%</p></td>
  </tr>
</table>
</body>
</html>